{% extends './base.html' %}

{% block title %}
Main page
{% endblock %}


{% block body %}
<div class="container-fluid text-center">
    <div class="background-move item" style="background-image: url('../assets/images/add-offer-bg.jpg');background-size: cover;">
        <h3>
            <br>
            Добро пожаловать на сайт. <br>
            <br>
            Здесь вы можете создать и просматривать статьи. <br>
            <br>
            Для создания статьи необходимо зарегистрироваться.
        </h3>
    </div>
</div>

{% endblock %}